@import '../../../app.component.scss';

.grid-container{
    align-items: center;

    table {
        width: 100%;
        border-collapse: collapse;
        border: $border;

        th, td {
            border-left: $border;
            vertical-align: middle;
            text-align: center;
            padding: $cellPadding;
        }

        th {
            border-bottom: $border;
            background-color: $primary-color;
            font-weight: bold;
            color: white;
        }

        .odd-row{
            background-color: $primary-color-light;
        }
    }

    button { 
        float: right;
    }
}
