<div class="grid-container">
    <table>
        <tr>
            <th><input type="checkbox" [checked]="isCheckedAll" (change)="onSelectAll($event)"/></th>
            <th *ngFor="let column of gridColumnSetup">{{ column.name }}</th>
        </tr>
        <tr app-grid-row #gridrow
            *ngFor="let dataRow of gridRows; let i=index" 
            [dataRow]="dataRow" 
            [columnsSetup]="gridColumnSetup"
            [ngClass]="i % 2 !== 0 ? 'odd-row' : '' "
            [editModeOn]="false"
            (dblclick)="onDoubleClick(); gridrow.editModeOn=true"
            [tabindex]="i"
            (keyup.enter)="onEscOrEnter(gridrow)"
            (keyup.escape)="onEscOrEnter(gridrow)"></tr>
        <tr app-grid-row
            [dataRow]="newRow"
            [columnsSetup]="gridColumnSetup"
            [ngClass]="gridRows.length % 2 !== 0 ? 'odd-row' : '' "
            [editModeOn]="true"
            *ngIf="addingModeOn"></tr>
    </table>
    <button (click)="onAddRow()">{{ addingModeOn ? 'Ok' : 'Add' }}</button>
    <button *ngIf="addingModeOn" (click)="onCancelAddRow()">{{ 'Cancel' }}</button>
    <button *ngIf="!addingModeOn" (click)="onRemoveRows()">Remove</button>
</div>