@import '../../app.component.scss';

$primary-color: rgb(98, 98, 138);
$primary-color-light: rgb(212, 212, 237);
$border: 1px solid $primary-color;
$cellPadding: 10px;

.grid-setup-container{
    margin: 42px auto;
    padding: 0 16px;
    max-width: 960px;
    align-items: center;

    section {
        padding: 10px;
    }

    button {
        border: $border;
        border-color: $primary-color;
        padding: $cellPadding;
        margin: 10px 0 10px 10px;
        background-color: $primary-color;
        min-width: 80px;
        font-weight: bold;
        color: white;
        cursor: pointer;

        &:active {
            color: $primary-color;
            background-color: white;
        }

        &.mini{
            min-width: 10px;
            margin: 1px;
        }
    }
}
